@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700");
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  background: none;
}

.c-white {
  color: white;
}

.c-black {
  color: black;
}

.c-blue {
  color: #007791;
}

.title {
  text-shadow: 0 0.06em 0 #FF847C;
  text-transform: uppercase;
}

.b-white {
  background: white;
}

.b-beige {
  background: #FECEA8;
}

.b-blue {
  background: #007791;
}

nav {
  z-index: 99;
  top: 0;
  height: 10vh;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
}
nav .logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  height: 22vh;
  width: 22vh;
  border: 15px solid #FECEA8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .logo img {
  height: 90%;
}
nav ul {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}
nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-transform: capitalize;
  font-weight: bold;
}
nav ul li a .underline {
  transition: 0.2s ease;
  position: absolute;
  bottom: -5px;
  height: 5px;
  width: 0;
  background: white;
  border-radius: 10px;
}
nav ul li a:hover .underline {
  width: 100%;
}
nav ul:first-of-type {
  margin-left: 100px;
}
nav ul:last-of-type {
  margin-right: 100px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .title {
  font-size: 123px;
}
.home .container {
  width: 85%;
}

.parallax {
  background: #e8e7e3;
}

.home-one {
  height: 100vh;
}
.home-one .container {
  text-align: left;
}
.home-one .container p {
  margin-top: 1em;
  width: 50%;
  font-size: 39px;
}

.home-two {
  height: 57vh;
}
.home-two .container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
}
.home-two .container .title {
  margin-top: 22px;
}
.home-two .container p {
  width: 65%;
  font-size: 22px;
  margin: 1em 2.5em 2.5em;
}

.home-three {
  height: 78vh;
}
.home-three .container {
  text-align: left;
}
.home-three .container p {
  margin-top: 1em;
  width: 47%;
  font-size: 34px;
}

.home-four {
  height: 94vh;
  justify-content: space-evenly;
}
.home-four .container {
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-four .container p {
  width: 50%;
  font-size: 34px;
}
.home-four .container img {
  border: 1px solid white;
  width: 40%;
  height: 100%;
}

.home-five {
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.home-five .title {
  margin: 0.2em 0 0;
}
.home-five form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-five form .container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3em 0;
}
.home-five form .container .input {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-five form .container .input input {
  border: 3px solid black;
  border-radius: 15px;
  font-size: 35px;
  width: 100%;
  padding: 0.4em 1em;
}
.home-five form .container p {
  width: 40%;
  font-size: 34px;
}
.home-five form textarea {
  resize: none;
  border: 3px solid black;
  border-radius: 15px;
  font-size: 30px;
  width: 98%;
  height: 7em;
  padding: 0.5em 0 0 1em;
}
.home-five form .btn {
  margin: 1em;
  font-size: 44px;
  border: 2px solid black;
  border-radius: 50px;
  padding: 0.1em 2.5em;
}

.fp-one {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.fp-one .container {
  width: 50%;
}
.fp-one .container .title {
  font-size: 123px;
}
.fp-one .container p {
  width: 85%;
  font-size: 22px;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40vh;
}
footer .container {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
footer .container ul {
  font-size: 22px;
  height: 65%;
}
footer .container ul:first-child {
  margin-left: 100px;
}
footer .container ul .title-ul {
  font-size: 23px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1em;
}
footer .container ul .li {
  line-height: 2.3em;
}
footer .container ul .li span {
  text-transform: uppercase;
}
footer .container ul .li-language {
  display: flex;
  align-items: center;
}
footer .container ul .li-language span {
  text-transform: uppercase;
}
footer .container ul .li-language .flag {
  margin: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: linear-gradient(to right, blue 33%, white 33%, white 66%, red 66%);
}
footer .container ul .li-language hr {
  margin: 10px 10px 10px 0;
  height: 30px;
  width: 2px;
  background: black;
}
footer .container ul .li-language .change {
  font-weight: bold;
}
footer .icons {
  position: absolute;
  filter: brightness(0) invert(1);
  font-size: 40px;
  bottom: 0;
  right: 0;
  margin: 1em;
}

/*# sourceMappingURL=style.css.map */
