@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700");
* {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  color: black;
  font-family: "Roboto", sans-serif;
  background: none;
}

.c-white {
  color: white;
}

.c-black {
  color: black;
}

.c-deepBlue {
  color: #005C78;
}

.c-blue {
  color: #007791;
}

.c-beige {
  color: #FECEA8;
}

.c-lightPink {
  color: #FF847C;
}

.c-pinkOrange {
  color: #E84A5F;
}

.b-white {
  background: white;
}

.b-beige {
  background: #FECEA8;
}

.b-blue {
  background: #007791;
}

.b-deepBlue {
  background: #005C78;
}

.b-lightPink {
  background: #FF847C;
}

.b-pinkOrange {
  background: #E84A5F;
}

.btn {
  transition: 0.2s ease;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
  border: 2px solid;
  padding: 0.2em 1.5em;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.btn:hover {
  cursor: pointer;
}
.btn.btn-lightPink {
  border-color: #FF847C;
}
.btn.btn-lightPink:hover {
  background: transparent;
  color: #FF847C;
  box-shadow: none;
}
.btn.btn-lightPink:hover i {
  color: #FF847C;
}
.btn.btn-deepBlue {
  border-color: #005C78;
}
.btn.btn-deepBlue:hover {
  background: transparent;
  color: #005C78;
  box-shadow: none;
}
.btn.btn-deepBlue:hover i {
  color: #005C78;
}
.btn.btn-pinkOrange {
  border-color: #E84A5F;
}
.btn.btn-pinkOrange:hover {
  background: transparent;
  color: #E84A5F;
  box-shadow: none;
}
.btn.btn-pinkOrange:hover i {
  color: #E84A5F;
}

.btn-quantity {
  padding: 0;
  font-size: 25px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

nav {
  transition: 0.4s ease;
  z-index: 10;
  top: 0;
  height: 13vh;
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  box-shadow: 0 1px 10px 0 rgba(0, 92, 120, 0.3);
}
nav .logo {
  transition: 0.4s ease;
  position: absolute;
  top: 0;
  transform: scale(1);
  height: 22vh;
  width: 22vh;
  border: 7px solid #FECEA8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 10px 10px 0 rgba(0, 92, 120, 0.1);
}
nav .logo img {
  height: 85%;
}
nav ul {
  transition: 0.6s ease;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
nav ul div {
  display: flex;
}
nav ul li {
  position: relative;
  display: flex;
  transition: 0.6s ease;
  margin: 0 1.5em;
}
nav ul li .rout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
nav ul li .rout .deconnexion {
  font-size: 30px;
  text-transform: capitalize;
}
nav ul li .rout .deconnexion:hover {
  cursor: pointer;
}
nav ul li .rout .underline {
  transition: 0.2s ease;
  position: absolute;
  bottom: -4px;
  height: 4px;
  width: 0;
  border-radius: 10px;
}
nav ul li .rout:hover .underline {
  width: 100%;
}
nav ul li .cart {
  transition: 0.6s ease;
  margin-left: 10px;
  width: 40px;
  max-height: 42px;
}
nav ul li .cartValue {
  transition: 0.6s ease;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: -10px;
  height: 25px;
  width: 25px;
  background: #E84A5F;
  border-radius: 50%;
  font-size: 15px;
  color: #FECEA8;
}

.navbar-scroll {
  height: 8vh;
  font-size: 25px;
  justify-content: center;
  background: #FECEA8;
}
.navbar-scroll .logo {
  transform: scale(0);
}
.navbar-scroll ul {
  width: 75%;
}
.navbar-scroll ul li {
  margin: 0 2.5em;
}
.navbar-scroll ul li .rout .deconnexion {
  font-size: 25px;
}
.navbar-scroll ul li .rout .underline {
  height: 2px;
  bottom: -2px;
}
.navbar-scroll ul li .cart {
  width: 33px;
  max-height: 35px;
}
.navbar-scroll ul li .cartValue {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #E84A5F;
  border-radius: 50%;
  font-size: 13px;
  color: #FECEA8;
}

main {
  position: relative;
  overflow: hidden;
  margin-top: 8vh;
}
@keyframes homeAnimationLeaf-7 {
  0% {
    top: 230vh;
    left: -250px;
    transform: rotate(0deg) scaleX(-1);
  }
  100% {
    top: 240vh;
    left: -50px;
    transform: rotate(35deg) scaleX(-1);
  }
}
@keyframes homeAnimationLeaf-8 {
  0% {
    top: 230vh;
    left: -250px;
    transform: rotate(0deg) scaleX(-1);
  }
  100% {
    top: 265vh;
    left: 25px;
    transform: rotate(50deg) scaleX(-1);
  }
}
@keyframes homeAnimationLeaf-9 {
  0% {
    top: 230vh;
    left: -250px;
    transform: rotate(0deg) scaleX(-1);
  }
  100% {
    top: 275vh;
    left: 25px;
    transform: rotate(75deg) scaleX(-1);
  }
}
@keyframes homeAnimationLeaf-10 {
  0% {
    top: 230vh;
    left: -250px;
    transform: rotate(0deg) scaleX(-1);
  }
  100% {
    top: 285vh;
    left: 25px;
    transform: rotate(95deg) scaleX(-1);
  }
}
@keyframes homeAnimationLeaf-11 {
  0% {
    top: 230vh;
    left: -250px;
    transform: rotate(0deg) scaleX(-1);
  }
  100% {
    top: 290vh;
    left: 0;
    transform: rotate(140deg) scaleX(-1);
  }
}
@keyframes homeAnimationLeaf-12 {
  0% {
    top: 275vh;
    right: 300px;
    transform: rotate(0deg) scaleX(-1);
  }
  100% {
    top: 268vh;
    right: 260px;
    transform: rotate(35deg) scaleX(-1);
  }
}
@keyframes homeAnimationLeaf-13 {
  0% {
    top: 275vh;
    right: 300px;
    transform: rotate(0deg) scaleX(-1);
  }
  100% {
    top: 268vh;
    right: 240px;
    transform: rotate(50deg) scaleX(-1);
  }
}
main.homePage .leaf {
  z-index: 3;
  position: absolute;
}
main.homePage .leaf1_1 {
  height: 600px;
}
main.homePage .leaf2_1 {
  height: 300px;
}
main.homePage .leaf1_2 {
  z-index: 4;
  height: 450px;
}
main.homePage .leaf-1 {
  top: 98vh;
  left: -25px;
  transform: rotate(160deg);
}
main.homePage .leaf-2 {
  top: 120vh;
  left: -25px;
  transform: rotate(50deg) scaleX(-1);
}
main.homePage .leaf-3 {
  z-index: 2;
  top: 125vh;
  left: 25px;
  transform: rotate(55deg);
}
main.homePage .leaf-4 {
  z-index: 2;
  top: 90vh;
  right: 0;
  transform: rotate(-80deg);
}
main.homePage .leaf-5 {
  z-index: 2;
  top: 98vh;
  right: -80px;
  transform: rotate(-100deg) scaleX(-1);
}
main.homePage .leaf-6 {
  z-index: 1;
  top: 140vh;
  right: 0;
  transform: rotate(-70deg);
}
main.homePage .leaf-7 {
  height: 700px;
  top: 230vh;
  left: -250px;
  transform: rotate(0deg) scaleX(-1);
}
main.homePage .leaf-7.leaf_animation {
  animation: homeAnimationLeaf-7 2s ease forwards;
}
main.homePage .leaf-8 {
  top: 230vh;
  left: -250px;
  transform: rotate(0deg) scaleX(-1);
}
main.homePage .leaf-8.leaf_animation {
  animation: homeAnimationLeaf-8 2.2s ease forwards;
}
main.homePage .leaf-9 {
  top: 230vh;
  left: -250px;
  transform: rotate(0deg) scaleX(-1);
}
main.homePage .leaf-9.leaf_animation {
  animation: homeAnimationLeaf-9 2.4s ease forwards;
}
main.homePage .leaf-10 {
  top: 230vh;
  left: -250px;
  transform: rotate(0deg) scaleX(-1);
}
main.homePage .leaf-10.leaf_animation {
  animation: homeAnimationLeaf-10 2.6s ease forwards;
}
main.homePage .leaf-11 {
  top: 230vh;
  left: -250px;
  transform: rotate(0deg) scaleX(-1);
}
main.homePage .leaf-11.leaf_animation {
  animation: homeAnimationLeaf-11 3s ease forwards;
}
main.homePage .leaf-12 {
  height: 300px;
  top: 275vh;
  right: 300px;
  transform: rotate(0deg) scaleX(-1);
}
main.homePage .leaf-12.leaf_animation {
  animation: homeAnimationLeaf-12 2s ease forwards;
}
main.homePage .leaf-13 {
  z-index: 2;
  height: 300px;
  top: 275vh;
  right: 300px;
  transform: rotate(0deg) scaleX(-1);
}
main.homePage .leaf-13.leaf_animation {
  animation: homeAnimationLeaf-13 2s ease forwards;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section .title {
  font-size: 115px;
  text-transform: uppercase;
  font-family: "Roboto Condensed";
}
section .container {
  width: 85%;
}

.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-one {
  height: 100vh;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url(./../media/img/home1.png);
}
.home-one .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 55%;
  width: 50%;
  margin-top: 12%;
  margin-left: 100px;
  text-transform: uppercase;
}
.home-one .container h2 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 35px;
}
.home-one .container h2::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 250px;
  background: #005c78;
  left: -260px;
}
.home-one .container h2::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 250px;
  background: #005c78;
  right: -260px;
}
.home-one .container .title {
  text-shadow: 0 0.05em 0 #005c78;
}
.home-one .container p {
  text-align: center;
  margin-top: 0.5em;
  padding: 0.3em;
  font-size: 39px;
  font-weight: bold;
}

.home-two {
  position: relative;
  height: 65vh;
  overflow: hidden;
}
.home-two .container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #005c78;
  padding: 3% 0;
}
.home-two .container p {
  text-align: center;
  width: 80%;
  font-size: 39px;
  margin-bottom: 1em;
}

.home-three {
  height: 70Vh;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.home-three .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-three .container .title {
  font-size: 80px;
  text-shadow: 0 0.05em 0 #005c78;
}
.home-three .container q {
  width: 90%;
  font-size: 30px;
  padding: 1em;
  font-style: italic;
}
.home-three .container p {
  text-transform: capitalize;
  font-style: italic;
  font-size: 32px;
  margin-bottom: 1em;
}
.home-three img {
  height: 100%;
}

.home-four {
  position: relative;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(-50deg, #ff847c 28%, #fecea8 28%);
}
.home-four .container {
  z-index: 4;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 75%;
  width: 60%;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.home-four .container h2 {
  text-align: center;
  font-size: 70px;
  text-shadow: 0 0.05em 0 #ff847c;
}
.home-four .container .img {
  height: 485px;
  width: 950px;
  overflow: hidden;
}
.home-four .container .img img {
  width: 100%;
}

.products-one {
  height: 60vh;
  background-image: url(./../media/img/products.png);
  background-size: contain;
  align-items: flex-end;
}
.products-one .text {
  width: 38%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-right: 8%;
}
.products-one .text .title {
  text-shadow: 0 0.05em 0 #005c78;
  margin: 0.2em;
}
.products-one .text hr {
  height: 5px;
  width: 100%;
  border-radius: 5px;
}
.products-one .text p {
  font-size: 30px;
  margin: 1em;
}

.products-two {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15vh 0;
}
.products-two .tags {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-two .tags.tagsFixed {
  position: fixed;
  top: 170px;
}
.products-two .tags .block {
  width: 70%;
}
.products-two .tags .block .title {
  position: relative;
  font-size: 65px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 0 0.05em 0 #ff847c;
  margin: 0 0 1em 0;
}
.products-two .tags .block .check {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}
.products-two .tags .block .check .checkbox {
  box-sizing: border-box;
  position: absolute;
  opacity: 0;
}
.products-two .tags .block .check .lab:hover {
  cursor: pointer;
}
.products-two .tags .block .check .labName {
  font-size: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products-two .tags .block .check .labName .underline {
  transition: 0.2s ease;
  position: absolute;
  bottom: -4px;
  height: 4px;
  width: 0;
  border-radius: 10px;
}
.products-two .tags .block .check .labName:hover .underline {
  width: 100%;
}
.products-two .tags .block .check .labCheck {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.35);
  margin: 0.5em;
}
.products-two .tags .block .check .labCheck .fas {
  opacity: 0;
}
.products-two .tags .block .check #tagOne:checked ~ .one {
  background: #005c78;
  box-shadow: none;
}
.products-two .tags .block .check #tagOne:checked ~ .one .fas {
  opacity: 1;
}
.products-two .tags .block .check #tagTwo:checked ~ .two {
  background: #005c78;
  box-shadow: none;
}
.products-two .tags .block .check #tagTwo:checked ~ .two .fas {
  opacity: 1;
}
.products-two .tags .block .check #tagThree:checked ~ .three {
  background: #005c78;
  box-shadow: none;
}
.products-two .tags .block .check #tagThree:checked ~ .three .fas {
  opacity: 1;
}
.products-two .container {
  width: 55%;
  margin: 20px 5% 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products-two .container .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.products-two .container .product.none {
  display: none;
}
.products-two .container .product.display {
  display: flex;
}
.products-two .container .product .frame {
  position: relative;
  height: 450px;
  width: 450px;
}
.products-two .container .product .frame a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-self: flex-start;
  overflow: hidden;
}
.products-two .container .product .frame a img {
  z-index: 2;
  transition: 0.2s ease;
  position: absolute;
  height: 100%;
}
.products-two .container .product .frame a span {
  z-index: 3;
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}
.products-two .container .product .frame a span p {
  transition: 0.2s ease;
  position: absolute;
  bottom: -100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  transition: 0.2s ease;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: bold;
  border: none;
}
.products-two .container .product .frame a:hover img {
  height: 125%;
}
.products-two .container .product .frame a:hover span {
  opacity: 1;
}
.products-two .container .product .frame a:hover span p {
  bottom: 0;
}
.products-two .container .product .frame::before {
  content: "";
  position: absolute;
  border-top: 3px solid #005c78;
  border-left: 3px solid #005c78;
  width: 33%;
  height: 66%;
  top: -20px;
  left: -20px;
}
.products-two .container .product .frame::after {
  content: "";
  position: absolute;
  border-bottom: 3px solid #005c78;
  border-right: 3px solid #005c78;
  width: 66%;
  height: 33%;
  bottom: -20px;
  right: -20px;
}
.products-two .container .product .info {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.products-two .container .product .info h4 {
  font-size: 30px;
  text-transform: capitalize;
}
.products-two .container .product .info h5 {
  font-size: 25px;
}

.productPage .leaf {
  position: absolute;
  height: 500px;
}
.productPage .leaf-1 {
  height: 800px;
  top: 80vh;
  right: -150px;
  transform: rotate(-50deg);
}
.productPage .leaf-2 {
  top: 115vh;
  right: -150px;
  transform: rotate(-60deg);
}
.productPage .leaf-3 {
  top: 125vh;
  right: -150px;
  transform: rotate(-80deg);
}
.productPage .leaf-4 {
  top: 135vh;
  right: -150px;
  transform: rotate(-100deg);
}
.productPage .leaf-5 {
  z-index: -1;
  height: 700px;
  top: 130vh;
  right: -200px;
  transform: rotate(-140deg);
}

.product-one {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.product-one .container {
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between;
  height: 75%;
}
.product-one .container .imgs {
  transition: 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  width: 10%;
}
.product-one .container .imgs .otherImg {
  position: relative;
  height: 28%;
  padding: 8px;
}
.product-one .container .imgs .otherImg img {
  height: 100%;
}
.product-one .container .imgs .otherImg .bar {
  transition: 0.5s ease;
  position: absolute;
}
.product-one .container .imgs .otherImg .top-bar {
  top: 0;
  right: 0;
  left: initial;
  height: 3px;
  width: 0;
}
.product-one .container .imgs .otherImg .right-bar {
  bottom: 0;
  top: initial;
  right: 0;
  width: 3px;
  height: 0;
}
.product-one .container .imgs .otherImg .bottom-bar {
  bottom: 0;
  left: 0;
  right: initial;
  height: 3px;
  width: 0;
}
.product-one .container .imgs .otherImg .left-bar {
  top: 0;
  bottom: initial;
  left: 0;
  width: 3px;
  height: 0;
}
.product-one .container .imgs .otherImg:hover {
  cursor: zoom-in;
}
.product-one .container .imgs .otherImg:hover .top-bar {
  right: initial;
  left: 0;
  width: 100%;
}
.product-one .container .imgs .otherImg:hover .right-bar {
  top: 0;
  bottom: initial;
  height: 100%;
}
.product-one .container .imgs .otherImg:hover .bottom-bar {
  right: 0;
  left: initial;
  width: 100%;
}
.product-one .container .imgs .otherImg:hover .left-bar {
  bottom: 0;
  top: initial;
  height: 100%;
}
.product-one .container .imgPrincipal {
  position: relative;
  height: 75%;
}
.product-one .container .imgPrincipal img {
  height: 100%;
}
.product-one .container .imgPrincipal::before {
  content: "";
  position: absolute;
  border-top: 5px solid #005c78;
  border-left: 5px solid #005c78;
  width: 33%;
  height: 66%;
  top: -20px;
  left: -20px;
}
.product-one .container .imgPrincipal::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #005c78;
  border-right: 5px solid #005c78;
  width: 66%;
  height: 33%;
  bottom: -20px;
  right: -20px;
}
.product-one .container .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 45%;
  height: 90%;
  margin-top: -10px;
}
.product-one .container .text header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.product-one .container .text header .title {
  line-height: 1em;
  font-size: 100px;
  text-shadow: 0 0.05em 0 #ff847c;
}
.product-one .container .text header .price {
  font-size: 58px;
  font-weight: bold;
}
.product-one .container .text .quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
.product-one .container .text .quantity h3 {
  font-size: 55px;
  text-transform: capitalize;
}
.product-one .container .text .quantity div {
  display: flex;
  align-items: center;
}
.product-one .container .text .quantity div input {
  font-size: 35px;
  text-align: center;
  width: 2em;
  -moz-appearance: textfield;
}
.product-one .container .text .quantity div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-one .container .text .quantity div input::-o-inner-spin-button {
  -o-appearance: none;
  margin: 0;
}
.product-one .container .text .description h4 {
  font-size: 35px;
  text-transform: uppercase;
}
.product-one .container .text .description p {
  font-size: 25px;
  margin: 1em 0;
}
.product-one .container .text .delivery {
  margin-bottom: 1em;
}
.product-one .container .text .delivery div {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.product-one .container .text .delivery div p {
  margin-left: 1em;
}
.product-one .container .text .btn {
  align-self: center;
}

.product-two {
  height: 88vh;
  justify-content: flex-start;
}
.product-two .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 10vh;
}
.product-two .container h2 {
  font-size: 60px;
  text-shadow: 0 0.06em 0 #ff847c;
}
.product-two .container .other-products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-two .container .other-products .frame {
  position: relative;
  height: 350px;
  width: 350px;
}
.product-two .container .other-products .frame a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-self: flex-start;
  overflow: hidden;
}
.product-two .container .other-products .frame a img {
  z-index: 2;
  transition: 0.2s ease;
  position: absolute;
  height: 100%;
}
.product-two .container .other-products .frame a span {
  z-index: 3;
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}
.product-two .container .other-products .frame a span p {
  transition: 0.2s ease;
  position: absolute;
  bottom: -100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  transition: 0.2s ease;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  border: none;
}
.product-two .container .other-products .frame a:hover img {
  height: 125%;
}
.product-two .container .other-products .frame a:hover span {
  opacity: 1;
}
.product-two .container .other-products .frame a:hover span p {
  bottom: 0;
}
.product-two .container .other-products .frame::before {
  content: "";
  position: absolute;
  border-top: 5px solid #005c78;
  border-left: 5px solid #005c78;
  width: 33%;
  height: 66%;
  top: -20px;
  left: -20px;
}
.product-two .container .other-products .frame::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #005c78;
  border-right: 5px solid #005c78;
  width: 66%;
  height: 33%;
  bottom: -20px;
  right: -20px;
}
.product-two .container .other-products .info {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.product-two .container .other-products .info h4 {
  font-size: 30px;
  text-transform: capitalize;
}
.product-two .container .other-products .info h5 {
  font-size: 25px;
}

.subscriptionPage .leaf {
  z-index: 2;
  position: absolute;
  height: 520px;
}
.subscriptionPage .leaf-1 {
  top: 195vh;
  left: 50px;
  transform: rotate(110deg);
}
.subscriptionPage .leaf-2 {
  top: 195vh;
  right: -50px;
  transform: rotate(-60deg);
}
.subscriptionPage .leaf-3 {
  z-index: 1;
  top: 190vh;
  right: 0;
  transform: rotate(-110deg) scaleX(-1);
}

.sub-one {
  height: 100vh;
  background-image: url(./../media/img/sub.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.sub-one .text {
  margin-right: 100px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.sub-one .text h1 {
  font-size: 100px;
  text-shadow: 0 0.05em 0 #005c78;
}
.sub-one .text p {
  text-align: center;
  margin-top: 0.5em;
  font-size: 35px;
  font-weight: bold;
}

.sub-two {
  height: 125vh;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  background: linear-gradient(50deg, #ff847c 40%, #fecea8 40%);
}
.sub-two .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 45%;
  height: 80%;
}
.sub-two .container h2 {
  font-size: 100px;
  text-transform: uppercase;
  text-shadow: 0 0.06em 0 #ff847c;
}
.sub-two .container .box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
}
.sub-two .container .box .img {
  position: relative;
  width: 45%;
}
.sub-two .container .box .img img {
  width: 100%;
}
.sub-two .container .box .img.img-one::before {
  content: "";
  position: absolute;
  border-top: 5px solid #005c78;
  border-left: 5px solid #005c78;
  width: 100%;
  height: 25%;
  top: -20px;
  left: -20px;
}
.sub-two .container .box .img.img-two::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #005c78;
  border-right: 5px solid #005c78;
  width: 100%;
  height: 25%;
  bottom: -20px;
  right: -20px;
}
.sub-two .container .box .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  width: 45%;
}
.sub-two .container .box .text p {
  font-size: 30px;
  text-align: center;
}
.sub-two .container .box .text p.price {
  display: flex;
  flex-direction: column;
  font-size: 40px;
}
.sub-two .container .box .text p.price span {
  font-size: 50px;
  font-weight: bold;
}

.cart-one {
  position: relative;
  padding: 200px 0;
}
.cart-one form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.cart-one .circle {
  z-index: -1;
  position: absolute;
  top: -2000px;
  right: -2750px;
  height: 3500px;
  width: 3500px;
  border-radius: 50%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}
.cart-one .title {
  font-size: 88px;
  text-shadow: 0 0.05em 0 #005c78;
  text-transform: capitalize;
}
.cart-one hr {
  height: 4px;
  width: 30%;
  border-radius: 4px;
  margin: 10px 0 50px 0;
}
.cart-one .container {
  width: 75%;
  border: 4px solid #005c78;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.cart-one .container header {
  width: 100%;
  display: flex;
  align-items: center;
}
.cart-one .container header .col {
  font-size: 32px;
  text-transform: capitalize;
  padding: 1em 0;
  text-align: center;
}
.cart-one .container header .col.col-one {
  width: 50%;
}
.cart-one .container header .col.col-two {
  width: 30%;
}
.cart-one .container header .col.col-three {
  width: 20%;
}
.cart-one .container .product {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 50px 0;
}
.cart-one .container .product .col {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.cart-one .container .product .col.col-one {
  width: 50%;
  justify-content: space-between;
}
.cart-one .container .product .col.col-one .img {
  position: relative;
  width: 30%;
  margin-left: 10%;
}
.cart-one .container .product .col.col-one .img img {
  width: 100%;
}
.cart-one .container .product .col.col-one .img::before {
  content: "";
  position: absolute;
  height: 75%;
  width: 80%;
  border-top: 3px solid #005c78;
  border-right: 3px solid #005c78;
  top: -10px;
  right: -10px;
}
.cart-one .container .product .col.col-one .name {
  font-size: 30px;
  margin-right: 10%;
}
.cart-one .container .product .col.col-two {
  width: 30%;
  justify-content: center;
}
.cart-one .container .product .col.col-two input {
  font-size: 35px;
  text-align: center;
  width: 2em;
}
.cart-one .container .product .col.col-three {
  width: 20%;
  font-size: 30px;
  justify-content: center;
}
.cart-one .container .total {
  align-self: center;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 35px;
  margin: 1em 0;
}
.cart-one .container .total h3 {
  text-transform: capitalize;
}
.cart-one .container .empty {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 100px 0 50px 0;
}

.text {
  font-size: 35px;
  margin: 1em 0;
}

.confirm {
  text-transform: capitalize;
  font-size: 41px;
  margin: 1em 0;
}

.blogPage {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.blog-one {
  height: 60vh;
  width: 100%;
  background-image: url(./../media/img/blog.jpg);
  background-size: contain;
  align-items: flex-start;
}
.blog-one .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.blog-one .text .title {
  width: 55%;
  position: relative;
  text-shadow: 0 0.06em 0 #005c78;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blog-one .text .title::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 125px;
  background: #005c78;
  border-radius: 4px;
  margin-top: 25px;
  left: -50px;
}
.blog-one .text .title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 125px;
  background: #005c78;
  border-radius: 4px;
  margin-top: 25px;
  right: -50px;
}
.blog-one .text hr {
  height: 5px;
  width: 100%;
  border-radius: 5px;
}
.blog-one .text p {
  font-size: 32px;
  margin: 1em;
}

.blog-two {
  width: 88%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 200px 0;
}
.blog-two .article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 650px;
  width: 27%;
  margin: 50px 0 50px 50px;
}
.blog-two .article h3 {
  width: 350px;
  font-size: 32px;
}
.blog-two .article .frame {
  position: relative;
  height: 530px;
  width: 350px;
}
.blog-two .article .frame a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-self: flex-start;
  overflow: hidden;
}
.blog-two .article .frame a img {
  z-index: 2;
  transition: 0.2s ease;
  position: absolute;
  height: 100%;
  width: 100%;
}
.blog-two .article .frame a span {
  z-index: 3;
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}
.blog-two .article .frame a span p {
  transition: 0.2s ease;
  position: absolute;
  bottom: -100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  transition: 0.2s ease;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  border: none;
}
.blog-two .article .frame a:hover img {
  height: 125%;
  width: 125%;
}
.blog-two .article .frame a:hover span {
  opacity: 1;
}
.blog-two .article .frame a:hover span p {
  bottom: 0;
}
.blog-two .article .frame::before {
  content: "";
  position: absolute;
  border-bottom: 5px solid #005c78;
  border-left: 5px solid #005c78;
  width: 20%;
  height: 80%;
  bottom: -20px;
  left: -20px;
}

.articlePage {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.articlePage .leaf {
  position: absolute;
  height: 500px;
}
.articlePage .leaf-1 {
  top: 0;
  right: -50px;
  transform: rotate(-130deg) scaleX(-1);
}
.articlePage .leaf-2 {
  top: -50px;
  right: 0;
  transform: rotate(-120deg) scaleX(-1);
}
.articlePage .circle {
  z-index: -1;
  position: absolute;
  height: 1808px;
  width: 1808px;
  border-radius: 50%;
  top: 145vh;
  left: -1000px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

.article-one {
  padding: 150px 0;
  width: 100%;
}
.article-one .author {
  width: 85%;
  display: flex;
  align-items: center;
}
.article-one .author .img {
  height: 175px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 50px 50px 50px 0;
  overflow: hidden;
  border: 3px solid #fecea8;
}
.article-one .author .img img {
  height: 80%;
}
.article-one .author h3 {
  font-size: 65px;
  text-transform: capitalize;
}
.article-one .container {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.article-one .container .img {
  width: 45%;
}
.article-one .container .img img {
  width: 100%;
}
.article-one .container .text {
  width: 45%;
}
.article-one .container .text h3 {
  font-size: 59px;
}
.article-one .container .text p {
  font-size: 32px;
  margin: 1em 0;
}

.article-two {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.article-two .title {
  font-size: 130px;
  text-shadow: 0 0.05em 0 #ff847c;
  text-transform: initial;
}
.article-two .other-articles {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin: 100px 0 200px 0;
}
.article-two .other-articles .article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 650px;
  width: 27%;
}
.article-two .other-articles .article h3 {
  width: 350px;
  font-size: 32px;
}
.article-two .other-articles .article .frame {
  position: relative;
  height: 530px;
  width: 350px;
  border: none;
}
.article-two .other-articles .article .frame a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: none;
  align-self: flex-start;
  overflow: hidden;
}
.article-two .other-articles .article .frame a img {
  border: none;
  z-index: 2;
  transition: 0.2s ease;
  position: absolute;
  height: 100%;
  width: 100%;
}
.article-two .other-articles .article .frame a span {
  z-index: 3;
  transition: 0.2s ease;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
}
.article-two .other-articles .article .frame a span p {
  transition: 0.2s ease;
  position: absolute;
  bottom: -100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  transition: 0.2s ease;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bold;
  border: none;
}
.article-two .other-articles .article .frame a:hover img {
  height: 125%;
  width: 125%;
}
.article-two .other-articles .article .frame a:hover span {
  opacity: 1;
}
.article-two .other-articles .article .frame a:hover span p {
  bottom: 0;
}
.article-two .other-articles .article .frame::before {
  content: "";
  position: absolute;
  border-bottom: 5px solid #005c78;
  border-left: 5px solid #005c78;
  width: 20%;
  height: 80%;
  bottom: -20px;
  left: -20px;
}

.accountPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountPage .circle {
  z-index: -1;
  position: absolute;
  height: 808px;
  width: 808px;
  border-radius: 50%;
  top: -550px;
  right: -150px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}
.accountPage .leaf {
  position: absolute;
  height: 600px;
}
.accountPage .leaf.leaf-1 {
  top: 55vh;
  left: -25px;
  transform: rotate(55deg) scaleX(-1);
}
.accountPage .leaf.leaf-2 {
  top: 65vh;
  left: 0;
  transform: rotate(70deg) scaleX(-1);
}
@keyframes inOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.accountPage .opacityOut {
  animation: inOut 0.4s ease forwards;
}
.accountPage .opacityIn {
  animation: inOut 0.4s reverse ease forwards;
}
.accountPage .none {
  display: none;
}

.account-one {
  height: 100vh;
  transition: 0.3s ease;
}
.account-one .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.account-one .text .title {
  font-size: 80px;
  text-shadow: 0 0.06em 0 #ff847c;
  margin: 0.5em;
}
.account-one .text p {
  font-size: 35px;
}
.account-one .buttons {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.account-one .buttons .btn {
  font-size: 35px;
  margin: 0.3em;
  text-align: center;
}

.account-two {
  width: 80%;
  height: 105vh;
  transition: 0.3s ease;
}
.account-two .text {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  font-family: "Roboto Condensed";
}
.account-two .container {
  margin: 25px 0 75px 0;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-two .container .button {
  transition: 0.2s ease;
  position: relative;
  height: 180px;
  width: 272px;
}
.account-two .container .button .img {
  z-index: 1;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.account-two .container .button .img img {
  height: 100%;
}
.account-two .container .button:first-of-type .img {
  position: absolute;
  height: 100%;
}
.account-two .container .button:first-of-type .img img {
  transform: scaleY(-1);
}
.account-two .container .button form {
  z-index: 3;
  position: absolute;
  height: 100%;
  width: 100%;
}
.account-two .container .button form input {
  transition: 0.5s ease;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Roboto Condensed";
  font-weight: bold;
  text-transform: uppercase;
}
.account-two .container .button form input:hover {
  cursor: pointer;
}
.account-two .container .button .bar {
  transition: 0.5s ease;
  position: absolute;
}
.account-two .container .button .top-bar {
  top: -15px;
  left: -15px;
  height: 4px;
  width: 80%;
}
.account-two .container .button .left-bar {
  top: -15px;
  left: -15px;
  height: 80%;
  width: 4px;
}
.account-two .container .button .right-bar {
  bottom: -15px;
  right: -15px;
  height: 55%;
  width: 4px;
}
.account-two .container .button .bottom-bar {
  bottom: -15px;
  right: -15px;
  height: 4px;
  width: 55%;
}
.account-two .container .button:hover {
  background-color: #e84a5f;
}
.account-two .container .button:hover .top-bar {
  left: 50%;
  width: 55%;
}
.account-two .container .button:hover .left-bar {
  top: 53%;
  height: 55%;
}
.account-two .container .button:hover .right-bar {
  bottom: 28%;
  height: 80%;
}
.account-two .container .button:hover .bottom-bar {
  right: 25%;
  width: 80%;
}
.account-two .back {
  font-size: 20px;
}

.account-three {
  width: 80%;
  height: 105vh;
  transition: 0.3s ease;
}
.account-three .text {
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  font-family: "Roboto Condensed";
}
.account-three .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
}
.account-three .container .info {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.account-three .container .info h3 {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: lighter;
  width: 28%;
  padding: 0 1em;
  text-align: center;
}
.account-three .container .info h3::after {
  content: ":";
  position: absolute;
  right: 0;
}
.account-three .container .info .data {
  width: 400px;
  font-size: 25px;
  padding: 0.5em 1em;
  margin: 0 2em;
  border: 2px solid transparent;
}
.account-three .container .info .data.changing {
  border-color: #005c78;
}
.account-three .container .info .data::placeholder {
  text-transform: capitalize;
}
.account-three .container .info .btn {
  text-transform: capitalize;
  font-size: 25px;
}
.account-three .container .info .btns {
  min-width: 320px;
}
.account-three .back {
  font-size: 20px;
}
.account-three .none {
  display: none;
}

.ordersPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0;
}
.ordersPage .circle {
  z-index: -1;
  position: absolute;
  top: -2000px;
  right: -2750px;
  height: 3500px;
  width: 3500px;
  border-radius: 50%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
}
.ordersPage .back {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 25px;
  top: 5em;
  right: 2em;
  padding-left: 1.5em;
}
.ordersPage .back .fas {
  margin-right: 0.5em;
}
.ordersPage .back:hover .fas {
  color: #e84a5f;
}
.ordersPage .back:hover p {
  color: #e84a5f;
}
.ordersPage hr {
  height: 3px;
  width: 55%;
  border-radius: 3px;
  margin: 50px 0;
}
.ordersPage .orders {
  width: 75%;
  align-items: flex-start;
}
.ordersPage .orders .title {
  font-size: 68px;
  text-shadow: 0 0.05em 0 #ff847c;
  text-transform: initial;
}
.ordersPage .orders .product {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 50px 0;
}
.ordersPage .orders .product .img {
  position: relative;
  height: 200px;
}
.ordersPage .orders .product .img img {
  height: 100%;
}
.ordersPage .orders .product .img::after {
  content: "";
  position: absolute;
  height: 85%;
  width: 75%;
  border-bottom: 5px solid #005c78;
  border-left: 5px solid #005c78;
  bottom: -15px;
  left: -15px;
}
.ordersPage .orders .product .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 70%;
  margin: 0 1em;
}
.ordersPage .orders .product .text h3 {
  font-size: 42px;
  text-transform: capitalize;
}
.ordersPage .orders .product .text p {
  font-size: 25px;
}
.ordersPage .orders .product .btn {
  font-size: 30px;
}

.connexionPage {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
@keyframes connexionAnimationLeaf-1 {
  0% {
    left: -100px;
    transform: rotate(60deg) scaleX(-1);
  }
  100% {
    left: 100px;
    transform: rotate(130deg) scaleX(-1);
  }
}
@keyframes connexionAnimationLeaf-2 {
  0% {
    top: 40vh;
    transform: rotate(60deg);
  }
  100% {
    top: 30vh;
    transform: rotate(0deg);
  }
}
@keyframes connexionAnimationLeaf-3 {
  0% {
    top: 45vh;
    transform: rotate(70deg);
  }
  100% {
    top: 35vh;
    transform: rotate(10deg);
  }
}
@keyframes connexionAnimationLeaf-4 {
  0% {
    left: -100px;
    transform: rotate(60deg) scaleX(-1);
  }
  100% {
    left: 100px;
    transform: rotate(110deg) scaleX(-1);
  }
}
@keyframes connexionAnimationLeaf-5 {
  0% {
    top: -30vh;
    left: 200px;
    transform: rotate(80deg) scaleX(-1);
  }
  100% {
    top: -15vh;
    left: 300px;
    transform: rotate(140deg) scaleX(-1);
  }
}
@keyframes connexionAnimationLeaf-6 {
  0% {
    left: -300px;
  }
  100% {
    left: -100px;
  }
}
@keyframes connexionAnimationLeaf-7 {
  0% {
    top: 70vh;
    transform: rotate(40deg);
  }
  100% {
    top: 45vh;
    transform: rotate(25deg);
  }
}
@keyframes connexionAnimationLeaf-8 {
  0% {
    top: 67vh;
    transform: rotate(40deg);
  }
  100% {
    top: 42vh;
    transform: rotate(25deg);
  }
}
.connexionPage .leaf {
  z-index: 3;
  position: absolute;
}
.connexionPage .leaf_1 {
  height: 1000px;
}
.connexionPage .leaf_2 {
  height: 600px;
}
.connexionPage .leaf_3 {
  height: 1100px;
}
.connexionPage .leaf-1 {
  animation: connexionAnimationLeaf-1 2s ease forwards;
  z-index: 2;
  top: -15vh;
  left: 100px;
  transform: rotate(130deg) scaleX(-1);
}
.connexionPage .leaf-2 {
  animation: connexionAnimationLeaf-2 2s ease forwards;
  top: 30vh;
  left: -100px;
  transform: rotate(0deg);
}
.connexionPage .leaf-3 {
  animation: connexionAnimationLeaf-3 2s ease forwards;
  top: 35vh;
  left: 0;
  transform: rotate(10deg);
}
.connexionPage .leaf-4 {
  animation: connexionAnimationLeaf-4 2s ease forwards;
  z-index: 2;
  top: -30vh;
  left: 100px;
  transform: rotate(110deg) scaleX(-1);
}
.connexionPage .leaf-5 {
  animation: connexionAnimationLeaf-5 2s ease forwards;
  z-index: 1;
  top: -15vh;
  left: 300px;
  transform: rotate(140deg) scaleX(-1);
}
.connexionPage .leaf-6 {
  animation: connexionAnimationLeaf-6 2s ease forwards;
  z-index: 1;
  top: 20vh;
  left: -100px;
  transform: rotate(110deg);
}
.connexionPage .leaf-7 {
  animation: connexionAnimationLeaf-7 2s ease forwards;
  z-index: 2;
  top: 45vh;
  left: 0;
  transform: rotate(25deg);
}
.connexionPage .leaf-8 {
  animation: connexionAnimationLeaf-8 2s ease forwards;
  z-index: 2;
  top: 42vh;
  left: 50px;
  transform: rotate(25deg);
}
.connexionPage .back {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 25px;
  top: 1.5em;
  right: 2em;
  padding-left: 1.5em;
}
.connexionPage .back .fas {
  margin-right: 0.5em;
}
.connexionPage .back:hover .fas {
  color: #e84a5f;
}
.connexionPage .back:hover p {
  color: #e84a5f;
}
.connexionPage .connexion {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 35%;
  border-radius: 10px;
  padding: 50px 25px;
  max-height: 70%;
}
.connexionPage .connexion .circle {
  z-index: -1;
  position: absolute;
  height: 700px;
  width: 700px;
  border-radius: 50%;
  top: -350px;
  right: -350px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
}
.connexionPage .connexion h1 {
  font-size: 60px;
  text-shadow: 0 0.05em 0 #ff847c;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}
.connexionPage .connexion form {
  height: 65%;
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connexionPage .connexion form .text {
  font-size: 30px;
  border: 3px solid #ff847c;
  padding: 0.5em 0 0.5em 1.5em;
  width: 93%;
  max-width: 100%;
  margin: 0.5em 0;
}
.connexionPage .connexion form .text::placeholder {
  font-size: 37px;
  text-transform: capitalize;
  color: #007791;
  opacity: 0.6;
}
.connexionPage .connexion form p {
  font-size: 20px;
  text-align: center;
  width: 80%;
  margin: 0.5em 0;
}
.connexionPage .connexion form .btn {
  width: 100%;
  margin: 0.5em 0 0;
}
.connexionPage .connexion form .btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.connexionPage .connexion form .btns .btn {
  width: initial;
  font-size: 35px;
}
.connexionPage .connexion form .btn-bis {
  font-size: 28px;
  margin-top: 1em;
  text-transform: capitalize;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connexionPage .connexion form .btn-bis .underline {
  transition: 0.2s ease;
  position: absolute;
  bottom: -4px;
  height: 4px;
  width: 0;
  border-radius: 10px;
}
.connexionPage .connexion form .btn-bis:hover {
  cursor: pointer;
}
.connexionPage .connexion form .btn-bis:hover .underline {
  width: 100%;
}
@keyframes cardEntranceConnexionPage {
  0% {
    left: 200%;
  }
  100% {
    left: 70%;
  }
}
.connexionPage .connexion-one {
  transition: 1s ease;
  animation: cardEntranceConnexionPage 2s ease;
}
.connexionPage .connexion-one.out {
  left: 200%;
}
.connexionPage .connexion-two {
  transition: 1s ease;
  top: 200%;
  min-height: 60%;
  max-height: 60%;
}
.connexionPage .connexion-two.in {
  top: 50%;
}
.connexionPage .connexion-two form .container {
  width: 100%;
  margin: 25px 0;
}
.connexionPage .connexion-two form .container .text {
  font-size: 25px;
  margin: 0.3em 0;
  padding: 0.5em 0 0.5em 1.2em;
}
.connexionPage .connexion-two form .container .text::placeholder {
  font-size: 30px;
}
@keyframes animationFormConnexion {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.connexionPage .connexion-two form .container .opacityOut {
  animation: animationFormConnexion 0.5s ease forwards;
}
.connexionPage .connexion-two form .container .opacityIn {
  animation: animationFormConnexion 0.5s reverse ease forwards;
}
.connexionPage .connexion-two form .container .none {
  display: none;
}
.connexionPage .connexion-three {
  transition: 1s ease;
  top: 200%;
}
.connexionPage .connexion-three.in {
  top: 50%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45vh;
  width: 100%;
}
footer section {
  height: 100%;
}
footer .part1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 35%;
}
footer .part1 img {
  height: 25%;
}
footer .part1 p {
  width: 60%;
  font-size: 23px;
}
footer .part1 p.upper {
  text-transform: uppercase;
}
footer .part1 p:last-child {
  font-size: 18px;
}
footer .part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
  border-left: 3px solid white;
  border-right: 3px solid white;
  padding: 0 15% 0 5%;
}
footer .part2 ul {
  font-size: 23px;
  text-transform: uppercase;
}
footer .part2 ul li {
  margin: 0.3em 0;
}
footer .part2 ul li h3 {
  margin: 1em 0;
}
footer .part2 ul li a {
  transition: 0.1s ease;
}
footer .part2 ul li a:hover {
  border-bottom: 2px solid white;
}
footer .part3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding-right: 1em;
  height: 100%;
  font-size: 23px;
  font-weight: bold;
}
footer .part3 .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 70%;
}
footer .part3 .container h3 {
  text-transform: uppercase;
}
footer .part3 .container p:last-of-type {
  font-size: 20px;
}
footer .part3 .container form {
  width: 100%;
  display: flex;
  align-items: center;
}
footer .part3 .container form input {
  font-size: 20px;
  height: 2.5em;
}
footer .part3 .container form input.text {
  padding: 0 3em 0 1em;
  font-style: italic;
  font-weight: 300;
}
footer .part3 .container form input.text::placeholder {
  text-transform: uppercase;
}
footer .part3 .container form input.btn {
  box-shadow: none;
}
footer .part3 .container form input.btn:hover {
  background: white;
}
footer .part3 .container .icons {
  font-size: 40px;
}
footer .part3 .container .icons .fab {
  transition: 0.2s ease;
  margin: 0 0.2em;
}
footer .part3 .container .icons .fab:hover {
  color: #FF847C;
}

/*# sourceMappingURL=style.css.map */
