.btn {
    transition: 0.2s ease;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid;
    padding: 0.2em 1.5em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

    &:hover {
        cursor: pointer;
    }

    &.btn-lightPink {
        border-color: $lightPink;

        &:hover {
            background: transparent;
            color: $lightPink;
            box-shadow: none;

            i {
                color: $lightPink;
            }
        }
    }

    &.btn-deepBlue {
        border-color: $deepBlue;

        &:hover {
            background: transparent;
            color: $deepBlue;
            box-shadow: none;

            i {
                color: $deepBlue;
            }
        }
    }

    &.btn-pinkOrange {
        border-color: $pinkOrange;

        &:hover {
            background: transparent;
            color: $pinkOrange;
            box-shadow: none;

            i {
                color: $pinkOrange;
            }
        }
    }
}

.btn-quantity {
    padding: 0;
    font-size: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}