$deepBlue: #005C78;
$blue: #007791;
$beige: #FECEA8;
$lightPink: #FF847C;
$pinkOrange: #E84A5F;

.c-white {
    color: white;
}

.c-black {
    color: black;
}

.c-deepBlue {
    color: $deepBlue;
}

.c-blue {
    color: $blue;
}

.c-beige {
    color: $beige;
}

.c-lightPink {
    color: $lightPink;
}

.c-pinkOrange {
    color: $pinkOrange;
}

.b-white {
    background: white;
}

.b-beige {
    background: $beige;
}

.b-blue {
    background: $blue;
}

.b-deepBlue {
    background: $deepBlue;
}

.b-lightPink {
    background: $lightPink;
}

.b-pinkOrange {
    background: $pinkOrange;
}