$deepBlue: #005c78;
$blue: #007791;
$beige: #fecea8;
$lightPink: #ff847c;
$pinkOrange: #e84a5f;

.connexion {
	position: relative;
	z-index: 15;
	height: 100vh;
	width: 100vw;
	margin: 0;

	@keyframes connexionAnimationLeaf-1 {
		0% {
			left: -100px;
			transform: rotate(60deg) scaleX(-1);
		}

		100% {
			left: 100px;
			transform: rotate(130deg) scaleX(-1);
		}
	}

	@keyframes connexionAnimationLeaf-2 {
		0% {
			top: 40vh;
			transform: rotate(60deg);
		}

		100% {
			top: 30vh;
			transform: rotate(0deg);
		}
	}

	@keyframes connexionAnimationLeaf-3 {
		0% {
			top: 45vh;
			transform: rotate(70deg);
		}

		100% {
			top: 35vh;
			transform: rotate(10deg);
		}
	}

	@keyframes connexionAnimationLeaf-4 {
		0% {
			left: -100px;
			transform: rotate(60deg) scaleX(-1);
		}

		100% {
			left: 100px;
			transform: rotate(110deg) scaleX(-1);
		}
	}

	@keyframes connexionAnimationLeaf-5 {
		0% {
			top: -30vh;
			left: 200px;
			transform: rotate(80deg) scaleX(-1);
		}

		100% {
			top: -15vh;
			left: 300px;
			transform: rotate(140deg) scaleX(-1);
		}
	}

	@keyframes connexionAnimationLeaf-6 {
		0% {
			left: -300px;
		}

		100% {
			left: -100px;
		}
	}

	@keyframes connexionAnimationLeaf-7 {
		0% {
			top: 70vh;
			transform: rotate(40deg);
		}

		100% {
			top: 45vh;
			transform: rotate(25deg);
		}
	}

	@keyframes connexionAnimationLeaf-8 {
		0% {
			top: 67vh;
			transform: rotate(40deg);
		}

		100% {
			top: 42vh;
			transform: rotate(25deg);
		}
	}

	.leaf {
		z-index: 3;
		position: absolute;
	}

	.leaf_1 {
		height: 1000px;
	}

	.leaf_2 {
		height: 600px;
	}

	.leaf_3 {
		height: 1100px;
	}

	.leaf-1 {
		animation: connexionAnimationLeaf-1 2s ease forwards;
		z-index: 2;
		top: -15vh;
		left: 100px;
		transform: rotate(130deg) scaleX(-1);
	}

	.leaf-2 {
		animation: connexionAnimationLeaf-2 2s ease forwards;
		top: 30vh;
		left: -100px;
		transform: rotate(0deg);
	}

	.leaf-3 {
		animation: connexionAnimationLeaf-3 2s ease forwards;
		top: 35vh;
		left: 0;
		transform: rotate(10deg);
	}

	.leaf-4 {
		animation: connexionAnimationLeaf-4 2s ease forwards;
		z-index: 2;
		top: -30vh;
		left: 100px;
		transform: rotate(110deg) scaleX(-1);
	}

	.leaf-5 {
		animation: connexionAnimationLeaf-5 2s ease forwards;
		z-index: 1;
		top: -15vh;
		left: 300px;
		transform: rotate(140deg) scaleX(-1);
	}

	.leaf-6 {
		animation: connexionAnimationLeaf-6 2s ease forwards;
		z-index: 1;
		top: 20vh;
		left: -100px;
		transform: rotate(110deg);
	}

	.leaf-7 {
		animation: connexionAnimationLeaf-7 2s ease forwards;
		z-index: 2;
		top: 45vh;
		left: 0;
		transform: rotate(25deg);
	}

	.leaf-8 {
		animation: connexionAnimationLeaf-8 2s ease forwards;
		z-index: 2;
		top: 42vh;
		left: 50px;
		transform: rotate(25deg);
	}

	section {
		overflow: hidden;
		position: absolute;
		top: 50%;
		left: 70%;
		transform: translate(-50%, -50%);
		height: 70%;
		width: 35%;
		padding: 1em;
		border-radius: 10px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		.circle {
			z-index: -1;
			position: absolute;
			height: 700px;
			width: 700px;
			border-radius: 50%;
			top: -350px;
			right: -350px;
			background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3));
		}

		h1 {
			font-size: 60px;
			text-shadow: 0 0.05em 0 $lightPink;
			text-transform: capitalize;
		}

		form {
			height: 65%;
			width: 75%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			.text {
				font-size: 37px;
				text-transform: capitalize;
				border: 3px solid $lightPink;
				padding: 0.25em 0 0.25em 1em;
				width: 93%;
				max-width: 100%;
			}

			p {
				font-size: 20px;
				text-align: center;
				width: 80%;
			}

			a {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				text-transform: capitalize;
				font-size: 25px;

				.underline {
					transition: 0.2s ease;
					position: absolute;
					bottom: -2px;
					height: 2px;
					width: 0;
					border-radius: 10px;
				}

				&:hover {
					.underline {
						width: 100%;
					}
				}
			}

			.btn {
				width: 100%;
			}
		}
	}
}