$lightPink: #FF847C;

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45vh;
    width: 100%;

    section {
        height: 100%;
    }

    .part1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 35%;

        img {
            height: 25%;
        }

        p {
            width: 60%;
            font-size: 23px;

            &.upper {
                text-transform: uppercase;
            }

            &:last-child {
                font-size: 18px;
            }
        }
    }

    .part2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65%;
        border-left: 3px solid white;
        border-right: 3px solid white;
        padding: 0 15% 0 5%;

        ul {
            font-size: 23px;
            text-transform: uppercase;

            li {
                margin: 0.3em 0;

                h3 {
                    margin: 1em 0;
                }

                a {
                    transition: 0.1s ease;

                    &:hover {
                        border-bottom: 2px solid white;
                    }
                }
            }
        }
    }

    .part3 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 33%;
        padding-right: 1em;
        height: 100%;
        font-size: 23px;
        font-weight: bold;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 85%;
            height: 70%;

            h3 {
                text-transform: uppercase;
            }

            p:last-of-type {
                font-size: 20px;
            }

            .form {
                width: 100%;
                display: flex;

                input {
                    font-size: 20px;
                    text-transform: uppercase;

                    &.text {
                        padding: 0.4em 2em 0.4em 1em;
                        max-width: 70%;
                        font-style: italic;
                        font-weight: 300;
                    }

                    &.submit {
                        padding: 0.4em 1em;
                        max-width: 30%;
                        font-weight: bold;
                    }
                }

            }

            .icons {
                font-size: 40px;

                .fab {
                    transition: 0.2s ease;
                    margin: 0 0.2em;

                    &:hover {
                        color: $lightPink;
                    }
                }
            }
        }
    }
}