$deepBlue: #005C78;
$blue: #007791;
$beige: #FECEA8;
$lightPink: #FF847C;
$pinkOrange: #E84A5F;
$test: #FECEA8;

nav {
    transition: 0.4s ease;
    z-index: 10;
    top: 0;
    height: 13vh;
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    box-shadow: 0 1px 10px 0 rgba($color: $deepBlue, $alpha: 0.3);

    .logo {
        transition: 0.4s ease;
        position: absolute;
        top: 0;
        transform: scale(1);
        height: 22vh;
        width: 22vh;
        border: 7px solid $test;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 10px 10px 0 rgba($color: $deepBlue, $alpha: 0.1);

        img {
            height: 85%;
        }
    }

    ul {
        transition: 0.6s ease;
        width: 90%;
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
        }

        li {
            display: flex;
            transition: 0.6s ease;
            margin: 0 1.5em;

            .rout {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;

                .deconnexion {
                    font-size: 30px;
                    text-transform: capitalize;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .underline {
                    transition: 0.2s ease;
                    position: absolute;
                    bottom: -4px;
                    height: 4px;
                    width: 0;
                    border-radius: 10px;
                }

                &:hover {
                    .underline {
                        width: 100%;
                    }
                }
            }

            .cart {
                transition: 0.6s ease;
                margin-left: 10px;
                width: 40px;
            }

            .cartValue {
                transition: 0.6s ease;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 8px;
                right: -60px;
                height: 25px;
                width: 25px;
                background: $pinkOrange;
                border-radius: 50%;
                font-size: 15px;
                color: #FECEA8;
            }
        }
    }
}

.navbar-scroll {
    height: 8vh;
    font-size: 25px;
    justify-content: center;
    background: $test;

    .logo {
        transform: scale(0);
    }

    ul {
        width: 75%;

        li {
            margin: 0 2.5em;

            .rout {
                .deconnexion {
                    font-size: 25px;
                }

                .underline {
                    height: 2px;
                    bottom: -2px;
                }
            }

            .cart {
                width: 33px;
            }

            .cartValue {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 8px;
                right: -50px;
                height: 20px;
                width: 20px;
                background: $pinkOrange;
                border-radius: 50%;
                font-size: 13px;
                color: #FECEA8;
            }
        }
    }
}