$deepBlue: #005C78;
$blue: #007791;
$beige: #FECEA8;
$lightPink: #FF847C;
$pinkOrange: #E84A5F;

// Home page

main {
    position: relative;
    overflow: hidden;

    .leaf {
        z-index: 3;
        position: absolute;
    }

    .leaf-home1 {
        top: 108vh;
        left: -130px;
        transform: rotate(220deg);
    }

    .leaf-home2 {
        top: 128vh;
        left: -100px;
    }

    .leaf-home3 {
        z-index: 2;
        top: 138vh;
        left: -80px;
        transform: rotate(180deg);
    }

    .leaf-home4 {
        z-index: 2;
        top: 98vh;
        right: -150px;
        transform: rotate(40deg);
    }

    .leaf-home5 {
        z-index: 2;
        top: 108vh;
        right: -80px;
        transform: rotate(210deg);
    }

    .leaf-home6 {
        z-index: 1;
        top: 140vh;
        right: -100px;
    }

    .leaf-home7 {
        top: 250vh;
        left: -130px;
        transform: rotate(15deg);
    }

    .leaf-home8 {
        top: 250vh;
        right: -80px;
        transform: rotate(-145deg);
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 115px;
        text-transform: uppercase;
    }

    .container {
        width: 85%;
    }
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax-one {
    background-image: url(./../media/img/home1.jpg)
}

.parallax-two {
    background-image: url(./../media/img/home2.jpg)
}


.home-one {
    margin-top: 8vh;
    height: 100vh;
    justify-content: initial;

    .container {
        text-align: left;
        margin-top: 12%;

        .title {
            text-shadow: 0 0.05em 0 rgb(104, 54, 52);
        }

        p {
            text-align: center;
            margin-top: 0.5em;
            padding: 0.3em;
            width: 42%;
            font-size: 39px;
        }
    }
}

.home-two {
    position: relative;
    height: 57vh;
    overflow: hidden;

    .container {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px solid $deepBlue;
        padding: 5% 0;

        p {
            text-align: center;
            width: 65%;
            font-size: 39px;
        }
    }

}

.home-three {
    height: 92Vh;
    justify-content: flex-start;

    .container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .title {
            font-size: 110px;
            text-shadow: 0 0.05em 0 rgb(104, 54, 52);
        }

        q {
            width: 90%;
            font-size: 39px;
            padding: 1em;
            font-style: italic;
        }
    }
}

.home-four {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    .title {
        margin: 0.3em 0 0.5em 0;
        text-shadow: 0 0.05em 0 white;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
        margin: 0 0 50px 0;
        
        p {
            text-align: center;
            font-size: 39px;
        }

        .img {
            display: flex;
            margin: 100px 0;

            img {
                height: 450px;
                margin: 25px;
            }
        }
    }
} 

// Fiche Produit page

.fp-one {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .container {
        width: 50%;

        .title {
            font-size: 123px;
        }

        p {
            width: 85%;
            font-size: 22px;
        }
    }
}