$deepBlue: #005C78;
$blue: #007791;
$beige: #FECEA8;
$lightPink: #FF847C;
$pinkOrange: #E84A5F;

// Home page

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 115px;
        text-transform: uppercase;
    }

    .container {
        width: 85%;
    }
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax-one {
    background-image: url(./../media/img/home1.jpg)
}

.parallax-two {
    background-image: url(./../media/img/home2.jpg)
}


.home-one {
    margin-top: 8vh;
    height: 100vh;
    justify-content: initial;

    .container {
        text-align: left;
        margin-top: 12%;

        .title {
            text-shadow: 0 0.05em 0 rgb(104, 54, 52);
        }

        p {
            text-align: center;
            margin-top: 0.5em;
            padding: 0.3em;
            width: 42%;
            font-size: 39px;
        }
    }
}

.home-two {
    height: 57vh;

    .container {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px solid #007791;
        padding: 5em 0;

        p {
            text-align: center;
            width: 65%;
            font-size: 39px;
        }
    }
}

.home-three {
    height: 90Vh;
    justify-content: flex-start;

    .container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .title {
            font-size: 110px;
            text-shadow: 0 0.05em 0 rgb(104, 54, 52);
        }

        p {
            margin-top: 1em;
            width: 90%;
            font-size: 34px;
            padding: 1em;
        }
    }
}

.home-four {
    height: 94vh;
    justify-content: space-evenly;

    .container {
        height: 65%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
            width: 50%;
            font-size: 34px;
        }

        img {
            border: 1px solid white;
            width: 40%;
            height: 100%;
        }
    }
}

.home-five {
    height: 100vh;
    justify-content: center;
    align-items: center;

    .title {
        margin: 0.2em 0 0;
    }

    form {
        width: 65%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 3em 0;

            .input {
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                input {
                    border: 3px solid black;
                    border-radius: 15px;
                    font-size: 35px;
                    width: 100%;
                    padding: 0.4em 1em;
                }
            }

            p {
                width: 40%;
                font-size: 34px;
            }
        }

        textarea {
            resize: none;
            border: 3px solid black;
            border-radius: 15px;
            font-size: 30px;
            width: 98%;
            height: 7em;
            padding: 0.5em 0 0 1em;
        }

        .btn {
            margin: 1em;
            font-size: 44px;
            border: 2px solid black;
            border-radius: 50px;
            padding: 0.1em 2.5em;
        }
    }
}

// Fiche Produit page

.fp-one {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    .container {
        width: 50%;

        .title {
            font-size: 123px;
        }

        p {
            width: 85%;
            font-size: 22px;
        }
    }
}