$deepBlue: #005c78;
$blue: #007791;
$beige: #fecea8;
$lightPink: #ff847c;
$pinkOrange: #e84a5f;

// Home page

main {
    position: relative;
    overflow: hidden;
    margin-top: 8vh;
    min-height: 100vh;

    &.homePage {
        .leaf {
            z-index: 3;
            position: absolute;
        }

        .leaf-1 {
            top: 108vh;
            left: -130px;
            transform: rotate(220deg);
        }

        .leaf-2 {
            top: 136vh;
            left: -100px;
        }

        .leaf-3 {
            z-index: 2;
            top: 146vh;
            left: -80px;
            transform: rotate(180deg);
        }

        .leaf-4 {
            z-index: 2;
            top: 98vh;
            right: -150px;
            transform: rotate(40deg);
        }

        .leaf-5 {
            z-index: 2;
            top: 108vh;
            right: -80px;
            transform: rotate(210deg);
        }

        .leaf-6 {
            z-index: 1;
            top: 148vh;
            right: -100px;
        }

        .leaf-7 {
            top: 250vh;
            left: -130px;
            transform: rotate(15deg);
        }

        .leaf-8 {
            top: 250vh;
            right: -80px;
            transform: rotate(-145deg);
        }
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 115px;
        text-transform: uppercase;
        font-family: 'Roboto Condensed';
    }

    .container {
        width: 85%;
    }

    .btn {
        transition: 0.2s ease;
        font-family: 'Roboto Condensed';
        text-transform: uppercase;
        font-size: 40px;
        font-weight: bold;
        border: 2px solid;
        padding: 0.2em 1.5em;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

        &:hover {
            cursor: pointer;
        }

        &.btn-lightPink {
            border-color: $lightPink;

            &:hover {
                background: transparent;
                color: $lightPink;
                box-shadow: none;

                i {
                    color: $lightPink;
                }
            }
        }

        &.btn-deepBlue {
            border-color: $deepBlue;

            &:hover {
                background: transparent;
                color: $deepBlue;
                box-shadow: none;

                i {
                    color: $deepBlue;
                }
            }
        }

        &.btn-pinkOrange {
            border-color: $pinkOrange;

            &:hover {
                background: transparent;
                color: $pinkOrange;
                box-shadow: none;

                i {
                    color: $pinkOrange;
                }
            }
        }
    }

    .btn-quantity {
        padding: 0;
        font-size: 25px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
    }
}

.parallax {
    background-size: cover;
    background-repeat: no-repeat;
}

.parallax-one {
    background-image: url(./../media/img/home1.png);
}

.parallax-two {
    background-image: url(./../media/img/home2.jpg);
}

.home-one {
    height: 100vh;
    justify-content: flex-start;
    align-items: flex-start;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 55%;
        width: 50%;
        margin-top: 12%;
        margin-left: 100px;
        text-transform: uppercase;

        h2 {
            display: flex;
            align-items: center;
            position: relative;
            font-size: 35px;

            &::before {
                content: "";
                position: absolute;
                height: 3px;
                width: 250px;
                background: $deepBlue;
                left: -260px;
            }

            &::after {
                content: "";
                position: absolute;
                height: 3px;
                width: 250px;
                background: $deepBlue;
                right: -260px;
            }
        }

        .title {
            text-shadow: 0 0.05em 0 rgb(104, 54, 52);
        }

        p {
            text-align: center;
            margin-top: 0.5em;
            padding: 0.3em;
            font-size: 39px;
            font-weight: bold;
        }
    }
}

.home-two {
    position: relative;
    height: 65vh;
    overflow: hidden;

    .container {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 10px solid $deepBlue;
        padding: 3% 0;

        p {
            text-align: center;
            width: 80%;
            font-size: 39px;
            margin-bottom: 1em;
        }
    }
}

.home-three {
    height: 70Vh;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .title {
            font-size: 80px;
            text-shadow: 0 0.05em 0 rgb(104, 54, 52);
        }

        q {
            width: 90%;
            font-size: 30px;
            padding: 1em;
            font-style: italic;
        }

        p {
            text-transform: capitalize;
            font-style: italic;
            font-size: 32px;
            margin-bottom: 1em;
        }
    }

    img {
        height: 100%;
    }
}

.home-four {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;

    .title {
        margin: 0.3em 0 0.5em 0;
        text-shadow: 0 0.05em 0 white;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin: 0 0 50px 0;

        p {
            text-align: center;
            font-size: 39px;
        }

        .img {
            display: flex;
            margin: 100px 0;

            img {
                height: 450px;
                margin: 25px;
            }
        }
    }
}


// Products Page




// Product page

.product-one {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    .container {
        margin-bottom: 5vh;
        display: flex;
        justify-content: space-between;
        height: 75%;

        .imgs {
            transition: 0.2s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 70%;
            width: 10%;

            .otherImg {
                position: relative;
                height: 30%;
                padding: 5px;

                img {
                    height: 100%;
                }


                .bar {
                    transition: 0.5s ease;
                    position: absolute;
                }

                .top-bar {
                    top: 0;
                    right: 0;
                    left: initial;
                    height: 3px;
                    width: 0;
                }

                .right-bar {
                    bottom: 0;
                    top: initial;
                    right: 0;
                    width: 3px;
                    height: 0;
                }

                .bottom-bar {
                    bottom: 0;
                    left: 0;
                    right: initial;
                    height: 3px;
                    width: 0;
                }

                .left-bar {
                    top: 0;
                    bottom: initial;
                    left: 0;
                    width: 3px;
                    height: 0;
                }

                &:hover {
                    cursor: zoom-in;

                    .top-bar {
                        right: initial;
                        left: 0;
                        width: 100%;
                    }

                    .right-bar {
                        top: 0;
                        bottom: initial;
                        height: 100%;
                    }

                    .bottom-bar {
                        right: 0;
                        left: initial;
                        width: 100%;
                    }

                    .left-bar {
                        bottom: 0;
                        top: initial;
                        height: 100%;
                    }
                }

            }
        }



        .imgPrincipal {
            position: relative;
            height: 75%;

            img {
                height: 100%;
            }

            &::before {
                content: "";
                position: absolute;
                border-top: 5px solid $deepBlue;
                border-left: 5px solid $deepBlue;
                width: 33%;
                height: 66%;
                top: -20px;
                left: -20px;
            }

            &::after {
                content: "";
                position: absolute;
                border-bottom: 5px solid $deepBlue;
                border-right: 5px solid $deepBlue;
                width: 66%;
                height: 33%;
                bottom: -20px;
                right: -20px;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: 45%;
            height: 90%;

            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;

                .title {
                    line-height: 1em;
                    font-size: 100px;
                    text-shadow: 0 0.05em 0 $lightPink;
                }

                .price {
                    font-size: 58px;
                    font-weight: bold;
                }
            }

            .quantity {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 60%;

                h3 {
                    font-size: 55px;
                    text-transform: capitalize;
                }

                div {
                    display: flex;
                    align-items: center;

                    input {
                        font-size: 35px;
                        text-align: center;
                        width: 2em;
                    }
                }
            }

            .description {
                h4 {
                    font-size: 35px;
                    text-transform: uppercase;
                }

                p {
                    font-size: 25px;
                    margin: 1em 0;
                }
            }

            .delivery {
                margin-bottom: 1em;

                div {
                    display: flex;
                    align-items: center;
                    font-size: 20px;

                    p {
                        margin-left: 1em;
                    }
                }
            }

            .btn {
                align-self: center;
            }
        }
    }
}

.product-two {
    height: 88vh;
    justify-content: flex-start;

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 10vh;

        h2 {
            font-size: 60px;
            text-shadow: 0 0.06em 0 $lightPink;
        }

        .other-products {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .frame {
                position: relative;
                height: 350px;
                width: 350px;

                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    border: 2px solid white;
                    align-self: flex-start;
                    overflow: hidden;

                    img {
                        z-index: 2;
                        transition: 0.2s ease;
                        position: absolute;
                        height: 100%;
                    }

                    span {
                        z-index: 3;
                        transition: 0.2s ease;
                        opacity: 0;
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba(0, 0, 0, 0.2);

                        p {
                            transition: 0.2s ease;
                            text-transform: capitalize;
                            font-size: 30px;
                            text-align: center;
                            border: none;
                        }
                    }

                    &:hover {

                        img {
                            height: 125%;
                        }

                        span {
                            opacity: 1;
                        }
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    border-top: 5px solid $deepBlue;
                    border-left: 5px solid $deepBlue;
                    width: 33%;
                    height: 66%;
                    top: -20px;
                    left: -20px;
                }

                &::after {
                    content: "";
                    position: absolute;
                    border-bottom: 5px solid $deepBlue;
                    border-right: 5px solid $deepBlue;
                    width: 66%;
                    height: 33%;
                    bottom: -20px;
                    right: -20px;
                }
            }

            .info {
                margin-top: 2em;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                h4 {
                    font-size: 30px;
                    text-transform: capitalize;
                }

                h5 {
                    font-size: 25px;
                }

            }
        }
    }
}


// Subscription

.sub-one {
    height: 100vh;
    background-image: url(./../media/img/sub1.png);
    background-repeat: no-repeat;
    background-size: cover;

    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;

        h1 {
            text-shadow: 0 0.05em 0 rgb(104, 54, 52);
        }

        p {
            text-align: center;
            margin-top: 0.5em;
            font-size: 39px;
            font-weight: bold;
        }
    }
}

.sub-two {
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(50deg, $lightPink 40%, $beige 40%);

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 45%;
        height: 85%;

        h2 {
            font-size: 100px;
            text-transform: uppercase;
            text-shadow: 0 0.06em 0 $lightPink;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            height: 70%;

            img {
                position: relative;
                width: 45%;
                height: 100%;
                border: 1px solid black;

                &.img-one::before {
                    content: "";
                    position: absolute;
                    border-top: 5px solid $deepBlue;
                    border-left: 5px solid $deepBlue;
                    width: 100%;
                    height: 25%;
                    top: -20px;
                    left: -20px;
                }

                &.img-two::after {
                    content: "";
                    position: absolute;
                    border-bottom: 5px solid $deepBlue;
                    border-right: 5px solid $deepBlue;
                    width: 100%;
                    height: 25%;
                    bottom: -20px;
                    right: -20px;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                height: 100%;
                width: 45%;

                p {
                    font-size: 30px;
                    text-align: center;

                    &.price {
                        display: flex;
                        flex-direction: column;
                        font-size: 40px;

                        span {
                            font-size: 50px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}


// Account Page

.account-one {
    height: 100vh;

    .text {

        .title {
            font-size: 80px;
            text-shadow: 0 0.06em 0 $lightPink;
        }

        p {
            font-size: 35px;
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;

        .btn {
            font-size: 35px;
            width: 600px;
            margin: 0.3em;
        }
    }
}