@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,700');

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Roboto", sans-serif;
    background: none;
}